
@{
    ViewBag.Title = "New";
}

<h2>Create Keeper</h2>
<form action="/Document/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="DocumentName" />
    </div>
    
    <div>
        <input type="submit" value="Create Document" />

    </div>
</form>