
@{
    ViewBag.Title = "Add";

}

<h2>New Teacher</h2>
<form method="POST" action="/Teacher/Create">
    <div>
        <label class="title">First Name:</label>
        <input style="max-width:200px; width:100%;" type="text" name="TeacherFname" class="input" id="TeacherFname" placeholder="John"/>
    </div>
    <div>
        <label class="title">Last Name:</label>
        <input style="max-width:200px; width:100%;" type="text" name="TeacherLname" class="input" id="TeacherLname" placeholder="Doe"/>
    </div>
    <div>
        <label class="title">Employee Number:</label>
        <input style="max-width:200px; width:100%;" type="text" name="EmployeeNumber" class="input" id="EmployeeNumber" placeholder="T123"/>
    </div>
    <div>
        <label class="title">Hire Date:</label>
        <input style="max-width:200px; width:100%;" placeholder="2021-12-30 12:00:00 AM" textmode="Date" type="datetime-local"  name="HireDate" class="input" id="HireDate"/>

    </div>
    <div>
        <label  class="title">Salary:</label>

        <input style="max-width:200px; width:100%;" type="number" name="Salary" class="input" id="Salary" placeholder="100.10" step="any"/>
    </div>
    <div id="button">
        <input id="submit" type="submit" value="Add Teacher">
    </div>

</form>
<style>
       .title {
           padding:10px;
       }
       
       form {
           width: 500px;
       }
       label{
           width:170px;
       }
      
   
 </style>

