@model Assignment3.Models.Teacher

@{
    ViewBag.Title = "Show";
}



<h3>Are you sure you want to delete @Model.TeacherFname @Model.TeacherLname? Once you delete this teacher you can no longer access it.</h3>
<form action="/Teacher/Delete/@Model.TeacherId" method="POST">
    <input type="submit" value="Delete Teacher"/>
</form>
    <div><a class="nav" href="/Teacher/List">Back to Teachers</a></div>
